/* Helpers */

.space330 {
    height: 100%;
    width: 330px;
}

.space100 {
    height: 100%;
    width: 100px;
}

.space80 {
    height: 100%;
    width: 80px;
}

.space40 {
    height: 100%;
    width: 40px;
}

.space20 {
    height: 100%;
    width: 20px;
}

.space10 {
    height: 100%;
    width: 10px;
}